.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home {
    display: flex;
    padding: 20px 70px;
    width: 100%;
}
.row1 {
    display: flex;
    width: 100%;
}
.leftt {
    width: 230px;
    min-width:230px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.left-top {
    height: 70px;
    width: 100%;
    background-color: rgb(162, 162, 162);
    
}

.prof {
    width: 80px;
    background-color: black;
    transform: translatey(-50%);
    height: 80px;
    border-radius: 50%;
}

.left-body h1 {
    font-weight: 500;
    font-size: 17px;
    margin-top: -20px;
}
.left-body p {
    font-weight: 400;
    color: rgba(0,0,0,0.6);
    font-size: 14px;
    padding-bottom: 10px;
}

.left-bottom {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    width: 100%;
    list-style: none;
}

.left-bottom p {
    font-weight: 500;
    font-size: 12px;
    color: rgba(0,0,0,0.6);
}

.left-bottom li {
    margin: 7px 10px;
    white-space: nowrap;
}

.left-bottom-last {
    width: 100%;
    list-style: none;
    font-size: 13px;
}

.left-bottom-last li {
    
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.middlemain  {
    width: 550px;
    margin-left: 30px;
}


.middle {
    width: 100%;
    height: 130px;
    background-color: rgb(255, 255, 255);
    border: 1px solid lightgray;
}

.middle-top {
    width: 100%;
    padding: 20px;
}

.middle .logo img {
    width: 40px;
    height:40px;
    border-radius: 50%;
}

.middle button {
    width: 85%;
    background-color: white;
    padding: 10px;
    border:  1px solid;
    border-radius: 25px;
}

.rightt {
    width: 380px;
    min-width: 300px;
    background-color: white;
    border: 1px solid lightgray;
    margin-left: 20px;
}
.rightt p{
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
}

.rightt li {
    width: 100%;
    padding: 0px 10px;
}

.rightt li:hover {
    background-color: rgba(173, 173, 173, 0.461);
}
.rightt li p{
    font-size: 13px;
    padding: 0 10px;
}
.rightt li small {
    padding: 0 10px;
}

.rightt h1 {
    padding: 20px;
    color: rgba(0, 0, 0, 0.721);
}

.middlePosts {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid lightgray;
    margin-top: 20px;

}

.pt-left img{
    margin-right: 20px;
    margin: 20px;
    width: 40px;
    height:40px;
    border-radius: 50%;
}

.pt-right h1{
    font-weight: 500;
    font-size: 15px;
    margin-top: 20px;
}

.pt-right p, small {
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.602);
}
.post-title {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.post-img {
    width: 100%;
    max-height: 300px;
}
.post-img img{
    width: 100%;
    max-height: 300px;
}
.pb-bottom {
    border-top: 1px solid lightgray;
}
.post-icon {
    list-style: none;
    padding: 10px 0;
    width: 25%;
    transition: .5s ease;
}

.post-icon:hover {
    background-color: rgba(0, 0, 0, 0.136);
    border-radius: 5px;
}


.post {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal {
    width: 50%;
    background-color: white;
    max-width: 600px;
    border-radius: 5px;
    min-width: 300px;
}

.post.none {
    display: none;
}

.modal-top {
    border-bottom: 1px solid lightgrey;
}

.modal-top p {
    font-size: 18px;
}

.mdpf-left img{
    border-radius: 50%;
    width: 55px;
    height:55px ;
}
.mdpf-right h1{
    font-weight: 500;
    font-size: 16px;
}

.mdpf-right button {
    font-size: 13px;
    padding: 4px 15px;
    border: 1px solid rgb(0, 0, 0,0.7);
    color: rgb(0, 0, 0,0.7);
    border-radius: 25px;
}

.modal-textarea textarea:focus {
    outline: none;
}

.modal-bottom {
    color: rgb(0, 0, 0,0.7);
}

.modal-bottom button {
    background-color: rgb(43, 163, 255);
    padding: 5px 15px;
    color: white;
    font-weight: 600;
    border-radius: 20px;
    margin-left: 15px;
}

.mdbt-top h1 {
    color:rgb(24, 132, 255) ;
    margin-bottom: 5px;
}

.modal-img img {
    width: 45%;
    height: 190px;
}
@media (max-width:1190px) {
    .rightt {
        width: 200px;
        min-width: 250px;
    }
}


@media (max-width:1000px) {
    .home {
    padding: 20px 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    }
    .middlemain  {
        width: 650px;
    }
    
    .rightt {
        margin-left: 0;
        width: 380px;
        margin-top: 20px;
    }
}

@media (max-width:800px) {
    .home {
    padding: 20px 50px;
    }
    .row1 {
        flex-direction: column;
    }
    .middlemain  {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }
    
    .middle {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }

    

    .rightt {
        width: 100%;
    }
 
    .left {
        width: 100%;
    }
}


@media (max-width:500px) {
    .home {
        
    padding: 20px 30px;
    }
}